@font-face {
  font-family: "adobe-clean-spectrum-vf";
  src: url("https://use.typekit.net/af/ca4cba/0000000000000000775c55a1/31/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n1&v=3") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 100 900;
  font-stretch: normal;
}

@font-face {
  font-family: "adobe-clean-spectrum-srf-vf";
  src: url("https://use.typekit.net/af/4a1d0d/0000000000000000775c55a4/31/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n1&v=3") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: normal;
}

@font-face {
  font-family: "adobe-clean-spectrum-vf";
  src: url("https://use.typekit.net/af/8a3244/0000000000000000775c55a2/31/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i1&v=3") format("woff2");
  font-display: auto;
  font-style: italic;
  font-weight: 100 900;
  font-stretch: normal;
}

@font-face {
  font-family: "adobe-clean-spectrum-srf-vf";
  src: url("https://use.typekit.net/af/45f67c/0000000000000000775c55a3/31/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i1&v=3") format("woff2");
  font-display: auto;
  font-style: italic;
  font-weight: 100 1000;
  font-stretch: normal;
}
